.product-page {
  margin: 10% 5%;
  padding: 20px;
  font-family: var(--secondary-font);

  .breadcrumb {
    margin-bottom: 10px;
    a {
      text-decoration: none;
      color: #000;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .mainSection {
    display: flex;
    flex-direction: row;
    gap: 6%;

    .product-images {
      flex-basis: 42%;

      .main-image {
        width: 100%;
        height: 300px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        background-color: #fff6f1;
      }
      .thumbnail-images {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 2%;

        img {
          width: 100%;
          height: 100%;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          background-color: #fff6f1;
          margin-bottom: 15%;
        }
      }
    }
    .product-details {
      flex-basis: 42%;
      display: flex;
      flex-direction: column;
      gap: 10%;
      align-items: center;

      .product-info {
        margin-left: 20px;
        h1 {
          font-size: 24px;
          font-family: var(--primary-font);
        }
        .reviews {
          margin: 10px 0;
          span {
            color: #f39c12;
          }
        }
        .price {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 2%;

          .original-price {
            text-decoration: line-through;
            color: #777;
            font-size: x-small;
          }
          .discounted-price {
            font-weight: bolder;

            p {
              display: inline;
            }
          }
          .discount {
            color: #e74c3c;
          }
        }
        hr {
          stroke: #777;
          stroke-width: 5%;
          margin: 10% 0px;
        }
        .choice {
          display: flex;
          flex-direction: row;
          gap: 5%;
          margin-bottom: 5%;
          justify-content: center;
          align-items: center;

          .size,
          .quantity {
            display: flex;
            flex-direction: column;
            gap: 10px;

            select {
              padding: 12px 40px 10px 10px;
            }
          }
        }
        .addcartbtn {
          display: flex;
          justify-content: center;
          align-items: center;

          .add-to-cart {
            position: relative;
            overflow: hidden;
            outline: none;
            cursor: pointer;
            border-radius: 0;
            border: none;
            background-color: transparent;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
              rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            font-family: "Inter", sans-serif;
            padding: 0;
            margin: 10% auto;

            .default-btn {
              background-image: linear-gradient(
                90.1deg,
                rgba(84, 212, 228, 1) 0.2%,
                rgba(68, 36, 164, 1) 99.9%
              );
              display: flex;
              align-items: center;
              gap: 15px;
              padding: 1em 3em;
              border-radius: 0;
              font-size: 14px;
              font-weight: 500;
              text-transform: uppercase;
              transition: transform 0.3s ease;
              z-index: 1;
            }

            .hover-btn {
              position: absolute;
              top: 100%;
              left: 0;
              right: 0;
              font-size: 16px;
              padding: 1em 3em;
              text-align: center;
              background: linear-gradient(
                63deg,
                rgba(26, 35, 126, 1) 0%,
                rgba(69, 39, 160, 1) 100%
              );
              box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
              transition: transform 0.3s ease, top 0.3s ease;
              z-index: 0;
            }

            .default-btn span,
            .hover-btn span {
              color: hsl(0, 0%, 100%);
            }

            &:hover .default-btn {
              transform: translateY(-100%);
            }

            &:hover .hover-btn {
              top: 0;
              transform: translateY(0);
            }
          }
        }

        .additional-info {
          display: grid;
          grid-template-columns: auto auto;

          span {
            display: block;
            margin: 10% 0;

            img {
              width: 10%;
              height: 100%;
            }
            p {
              display: inline;
              text-align: center;
              margin-left: 5%;
            }
          }
        }
      }
    }
  }
}
.product-tabs {
  display: flex;
  margin: 20px 0;
  button {
    background: none;
    border: none;
    font-size: 16px;
    margin-right: 20px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
.product-description {
  h2 {
    margin-bottom: 10px;
  }
}
