@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Montserrat:wght@400;500;700&display=swap");

:root {
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Montserrat", sans-serif;
  --primary-color: #5d4037;
  --secondary-color: #e56d4b;
  --accent-color: #fff6f1;
  --background-color: white;
  --text-color: #582b39;
}

body {
  font-family: var(--secondary-font);
  display: flex;
  flex-direction: column;
  gap: 5%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
}

p,
a,
span,
button {
  font-family: var(--secondary-font);
}

header {
  align-self: flex-start;
}
main {
  margin: 2%;
}
footer {
  align-self: flex-end;
}
