.cartItem {
  .cartitem-content {
    display: flex;
    flex-direction: row;
    gap: 5%;

    img {
      width: 42%;
      height: 180px;
    }
    .detail {
      display: flex;
      flex-direction: column;
      gap: 3%;

      .choice {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5%;

        .choice_items {
          display: flex;
          flex-direction: column;

          select {
            padding: 12px 40px 10px 10px;
          }
        }
      }
    }
    .price {
      font-weight: bolder;
      font-size: large;
      margin-left: 15%;
    }
    .delete {
      font-size: larger;
      cursor: pointer;
      background: none;
      border: none;
      margin-top: 3%;
      margin-left: 2%;
    }
  }
}
